- name: Create a project 
  {{ collection_id }}.tower_project:
    name: {{ project_name | default("Default project name") }}
    default_environment: {{ default_environment }}
    description: {{ description | default("default description") }}
    scm_type: {{ scm_type }}
    scm_url: {{ scm_url }}
    organization: {{ organization }}
    default_environment: {{ default_environment }}
  register: project
